# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
.venv/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints

# Flask-related
instance/
.webassets-cache
*.db
*.sqlite3

# Environment variables
.env
.env.*

# Docker-related
*.pid
*.log
Dockerfile~
docker-compose.override.yml

# Migrations
migrations/versions/

# Celery related
celerybeat-schedule
celerybeat.pid
__pycache__/

# System
.DS_Store
Thumbs.db
